* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

/*  HEADER NAVIGATION */

.header {
    background-color: #1F2937;
    
    
}

.header h2 {
    font-size: 24px;
    color: #F9FAF8;
}

.header p ,
.header li {
    font-size: 18px;
    color: #E5E7EB;
}

.header h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 10px 10%;
    
}

ul {
    list-style-type: none;
}

.right-list {
   display: flex;
   gap: 20px;
}

/*  HEADER BODY */

.header-body {
    margin: 100px 10%;
    display: flex;
    height: 200px;   
}

.left-section {
    flex: 1 1 0;
    
}

.right-section {
    flex: 1 1 0;
    background-color: gray;
    
}

.right-section p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 768px;
    height: 200px;
}

.header-body button {
    background-color:#3882F6;
    border-radius: 8px;
    padding: 5px 20px;
    color: white;
    border: none;
}

/* SECTION ONE */

.cards-container {
    display: flex;
    flex-direction: column;
    height: 370px;
    
    
}

.card-section-text {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    font-size: 36px;
    font-weight: bold;
    
    
    
}

.cards {
    display: flex;
    justify-content: center;
    margin: 20px 25%;
    gap: 40px;
    

}

.card {
    width: 200px;
    height: 200px;
    border: solid ;
    border-radius: 10px;
    
}

.card-subtext {
    
    margin-top: 210px;
    width: 200px;
    text-align: center;
    
}

/* QUOTE SECTION */

.quote-wrapper {
    
    margin-top: 30px;
    background-color: #E5E7EB ;
}

.quote-container {
    margin: 200px 25%;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.thor {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 25px;
}













